<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} /-->

<!-- wp:post-title {"level":1,"fontSize":"x-large"} /-->

<!-- wp:post-content {"lock":{"move":false,"remove":true},"align":"full","layout":{"type":"constrained"}} /-->

<!-- wp:pattern {"slug":"majdakonline/hidden-comments"} /-->

<!-- wp:pattern {"slug":"majdakonline/hidden-post-navigation"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
